<div class="row">
    <div class="small-12 large-10 large-offset-1 columns">
        <div class="header">
            <img src="/img/earth.png">
            <h1 class="text-center">Anywhere</h1>
            <div class="text-center clock"><i class="fi-clock"></i> {{ clock | date:"dd/MM/yyyy HH:mm:s" }}</div>
        </div>
        <div class="chat-container" name="chat" [user]="user"></div>
        <div class="map-container" name="map"></div>
    </div>
</div>

<div class="reveal" id="initInfo" data-reveal modal [modalActivity]="signupAction" data-close-on-click="false">
    <img src="/img/welcome.png">
    <form>
        <label><strong>Enter your name</strong>
            <div class="input-group">
                <input class="input-group-field" type="text" name="username" maxlength="30" [(ngModel)]="user.name" (keyup.enter)="setUser()">
                <div class="input-group-button">
                    <input type="submit" class="button" value="Submit" [class.disabled]="user.name == '' || user.name == null" (click)="setUser()">
                </div>
            </div>
        </label>
    </form>
</div>