body {
    font-family: Lato,Helvetica,Arial,sans-serif;
    font-size: 18px;
    line-height: 1.72222;
    color: #34495e;
    background-color: #fff;
    background: url(../img/background.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.header {
    h1 {
        font: 900 3em "Helvetica Neue", Helvetica, Arial, sans-serif;
    }
    img {
        display: block;
        width: 9em;
        height: 9em;
        margin: -4em auto 0;
        background-size: 9em;
    }
    .clock {
        font-style: italic;
        margin-bottom: .5rem;
    }
}

.box-header {
    font-size: 1em;
    &.button {
        margin: 0;
        cursor: default;
    }
}

.enable-newline {
    white-space: pre-wrap;
}

.chat-container {
    border: 1px solid #EC5840;
    margin-bottom: 1rem;
    table {
        margin: 0;
        tbody {
            border: none;
        }
    }
    .input-message {
        border: 1px solid #f1f1f1;
        background: #EEE;
        padding: 0.5em;
    }
    textarea {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        -webkit-box-shadow: none;
        box-shadow: none;
        border-top-right-radius: 0;
        border-top-left-radius: 0;
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 0;
        width: 100%;
        height: 100%;
        outline: 0;
        display: block;
        margin-bottom: 0;
        padding: 0.5rem;
        border: 0;
        font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
        color: #222;
        line-height: 1.5;
        resize: none;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        height: 2rem;
        min-height: 2rem;
    }
    .notice-message {
        padding: 0.5rem;
        display: block;
    }
    .chat-messages {
        display: block;
        max-height: 15rem;
        overflow-y: auto;
        tr {
            position: relative;
            width: 100%;
            display: block;
            &:hover {
                .message-delete {
                    display: block !important;
                }
            }
        }
    }
    .its-me {
        color: #96622A !important;
    }
    strong.user-name {
        display: block;
    }
    .user-name {
        display: inherit;
        max-width: 10rem;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
    .message-content {
        display: block;
        word-break: break-word;
    }
    .message-delete {
        display: none;
        color: #86A1BC;
        position: absolute;
        top: 0.5rem;
        right: 0.5rem;
        &:hover {
            cursor: pointer;
            color: #5E778F;
        }
    }
    .clear-all {
        float: right;
        clear: both;
        cursor: pointer;
    }
}

.map-container {
    border: 1px solid #777777;
    margin-bottom: 1rem;
    .get-location {
        float: right;
        clear: both;
        cursor: pointer;
    }
}

.spinner {
    margin: 1rem auto;
    height: 3rem;
    text-align: center;
    font-size: 1rem;
    >div {
        background-color: #2980b9;
        height: 100%;
        width: 6px;
        display: inline-block;

        -webkit-animation: sk-stretchdelay 1.2s infinite ease-in-out;
        animation: sk-stretchdelay 1.2s infinite ease-in-out;
    }
    .rect2 {
        -webkit-animation-delay: -1.1s;
        animation-delay: -1.1s;
    }
    .rect3 {
        -webkit-animation-delay: -1.0s;
        animation-delay: -1.0s;
    }
    .rect4 {
        -webkit-animation-delay: -0.9s;
        animation-delay: -0.9s;
    }
    .rect5 {
        -webkit-animation-delay: -0.8s;
        animation-delay: -0.8s;
    }
    @-webkit-keyframes sk-stretchdelay {
        0%, 40%, 100% { -webkit-transform: scaleY(0.4) }
        20% { -webkit-transform: scaleY(1.0) }
    }
    @keyframes sk-stretchdelay {
        0%, 40%, 100% {
        transform: scaleY(0.4);
        -webkit-transform: scaleY(0.4);
        }  20% {
            transform: scaleY(1.0);
            -webkit-transform: scaleY(1.0);
        }
    }
}