body {
    font-family: Lato,Helvetica,Arial,sans-serif;
    font-size: 18px;
    line-height: 1.72222;
    color: #34495e;
    background-color: #fff;
}

.header {
    h1 {
        font: 900 3em "Helvetica Neue", Helvetica, Arial, sans-serif;
    }
    img {
        display: block;
        width: 9em;
        height: 9em;
        margin: -4em auto 0;
        background-size: 9em;
    }
}

.box-header {
    font-size: 1em;
    &.button {
        margin: 0;
    }
}

.enable-newline {
    white-space: pre-wrap;
}

.chat-container {
    border: 1px solid #EC5840;
    margin-bottom: 1rem;
    table {
        margin: 0;
        tbody {
            border: none;
        }
    }
    .input-message {
        border: 1px solid #f1f1f1;
        background: #EEE;
        padding: 0.5em;
    }
    textarea {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        -webkit-box-shadow: none;
        box-shadow: none;
        border-top-right-radius: 0;
        border-top-left-radius: 0;
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 0;
        width: 100%;
        height: 100%;
        outline: 0;
        display: block;
        margin-bottom: 0;
        padding: 0.5rem;
        border: 0;
        font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
        color: #222;
        line-height: 1.5;
        resize: none;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        height: 2rem;
        min-height: 2rem;
    }
    .notice-message {
        padding: 10px;
        display: block;
    }
}